.container{
    text-align: center;
    color: white;
    justify-content: center;
    /* margin-top: 250px; */
    
}
.btn{
    position: relative;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    border:  2px solid greenyellow;
    overflow: hidden;
   
}
h1{
    letter-spacing: 1px;
}

p{
    margin: auto;
    justify-content: center;
    letter-spacing: 1px;
    word-wrap: break-word;
    margin-left: 100px;
    margin-right: 100px;
}
